{% extends 'base.html' %}

{% block content %}
<h2>Выбор таблицы для экспорта</h2>
<form method="post">
    <label for="table">Выберите таблицу:</label>
    <select name="table" id="table" required>
        <option value="employees">Сотрудники</option>
        <option value="guests">Гости</option>
        <option value="services">Услуги</option>
        <option value="bookings">Бронирования</option>
        <option value="employee_services">Связи сотрудник-услуга</option>
    </select>
    <br>
    <button type="submit">Экспортировать</button>
</form>
{% endblock %}
